body {
  font-family: "Source Code Pro", monospace;
}

ul {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  font-size: 13px;
}

li {
  display: inline;
}

h6 {
  font-weight: bold;
}

.weather-app {
  margin: 40px auto;
  color: #272143;
  border: 1px solid #272143;
  border-radius: 5px;
  width: 950px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  box-shadow: rgba(39, 33, 67, 0.4) 5px 5px, rgba(39, 33, 67, 0.3) 10px 10px,
    rgba(39, 33, 67, 0.2) 15px 15px, rgba(39, 33, 67, 0.1) 20px 20px,
    rgba(39, 33, 67, 0.05) 25px 25px;
}

.date-time {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 20px;
}

.current-city {
  text-align: center;
  padding: 20px;
  margin: 25px auto;
  border-right: 1px solid #272143;
}

.country {
  font-size: 27px;
}

/*.current-weather {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}*/

.temperature,
.units {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  left: -40px;
  top: 16px;
}

.detail {
  font-size: 13px;
  position: relative;
  left: -39px;
  top: 15px;
}

.current-icon {
  position: relative;
  right: -38px;
}

.bi-sunrise,
.bi-sunset {
  font-size: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

.bi-sunset {
  margin-left: 15px;
}

.sunrise-sunset {
  font-size: 12px;
  margin-bottom: 25px;
}

.search {
  border: 1px solid #272143;
  border-radius: 3px;
  box-shadow: rgba(39, 33, 67, 0.2) 3px 3px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.search-button,
.current-location-button {
  background-color: #272143;
  border: 1px solid #272143;
  border-radius: 3px;
  box-shadow: rgba(39, 33, 67, 0.2) 3px 3px;
  font-size: 13px;
}

.weather-forecast {
  font-weight: bold;
  text-align: center;
  color: #272143;
  padding: 40px;
  margin: 12px auto;
}

.forecast {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #272143;
  border-radius: 5px;
  box-shadow: rgba(39, 33, 67, 0.5) 3px 3px;
  background: #fff;
}

.forecast-temperature-min {
  opacity: 0.6;
}

.credits {
  font-family: "Open Sans", sans-serif;
  color: #272143;
  font-size: 10px;
  text-align: right;
}
