body {
  font-family: "Source Code Pro", monospace;
}

ul {
  list-style: none;
  margin-bottom: 25px;
  padding: 0;
  font-size: 13px;
}

li {
  display: inline;
}

h1 {
  letter-spacing: 3px;
}

h6 {
  font-weight: bold;
}

.weather-app {
  margin: 25px auto;
  color: #272143;
  border: 1px solid #272143;
  border-radius: 5px;
  width: 950px;
  box-shadow: 3px 3px 3px #272143;
}

.date-time {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 20px;
}

.current-city {
  text-align: center;
  padding: 20px;
  margin: 25px auto;
  border-right: 1px solid #272143;
}

.country {
  font-size: 27px;
}

.current-weather {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.units {
  font-size: 20px;
  font-weight: 600;
}

.active {
  color: #272143;
  cursor: default;
}

.current-icon {
  font-size: 55px;
  padding: 20px;
}

.detail {
  font-size: 13px;
  vertical-align: middle;
  position: relative;
  right: 25px;
}

.bi-sunrise,
.bi-sunset {
  font-size: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

.bi-sunset {
  margin-left: 15px;
}

.sunrise-sunset {
  font-size: 12px;
  margin-bottom: 25px;
}

.search {
  border: 1px solid #272143;
  border-radius: 3px;
}

.search-button,
.current-location-button {
  background-color: #272143;
  border-radius: 3px;
}

.weather-forecast {
  text-align: center;
  color: #272143;
  padding: 40px;
  margin-top: 30px;
}

.credits {
  font-family: "Open Sans", sans-serif;
  color: #272143;
  font-size: 10px;
  margin-top: 20px;
}
